// Margins
.mt-8 {
  margin-top: 8rem !important;
}

.mt-3_5 {
  margin-top: 3.5rem !important;
}

// Icon Fonts
.ifs-8 {
  font-size: 4rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-3 {
  font-size: 3rem !important;
}
