// COLORS

//Hero
$hero-color: #e4efe9;

//Parallax-1
$parallax1-color1: #89f7fe;
$parallax1-color2: #66a6ff;

//Parallax-2
$parallax2-color1: #dad4ec;
$parallax2-color2: #f3e7e9;

//Footer
$footer-color1: #333333;
$footer-color2: #000000;

//Parallax Border Tops
$parallax1-colorhr: coral;
$parallax2-colorhr: #ff416c;

//Text
$dark-blue-text: #272341; // For Headings
$footer-text-color: turquoise; // For Footer
